<section id="PhotoGallery">
    <div class="gallery">
        <div class="gallery__strip__wrapper">
          <div class="gallery__strip one">
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-kyoto.jpeg" alt="Kyoto">
              </div>
              <div class="photo__name">Kyoto</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-austria.jpeg" alt="Halstatt">
              </div>
              <div class="photo__name">Halstatt</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-peru.jpeg" alt="Peru">
              </div>
              <div class="photo__name">Peru</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-rio.jpeg" alt="Rio">
              </div>
              <div class="photo__name">Rio</div>
            </div>
          </div>
        </div>
        
        <div class="gallery__strip__wrapper">
          <div class="gallery__strip two">
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-italy.jpeg" alt="Italy">
              </div>
              <div class="photo__name">Italy</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-osaka.jpeg" alt="Osaka">
              </div>
              <div class="photo__name">Osaka</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-bali.jpeg" alt="Bali">
              </div>
              <div class="photo__name">Bali</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-paris2.jpg" alt="Paris">
              </div>
              <div class="photo__name">Paris</div>
            </div>
          </div>
        </div>
      
        <div class="gallery__strip__wrapper">
          <div class="gallery__strip three">
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-cusco.jpeg" alt="Cusco">
              </div>
              <div class="photo__name">Cusco</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-rome.jpeg" alt="Rome">
              </div>
              <div class="photo__name">Rome</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-paris.jpeg" alt="Paris">
              </div>
              <div class="photo__name">Paris</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-bali2.jpeg" alt="Bali">
              </div>
              <div class="photo__name">Bali</div>
            </div>
          </div>
        </div>
      
        <div class="gallery__strip__wrapper">
          <div class="gallery__strip four">
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-milan.jpeg" alt="Milan">
              </div>
              <div class="photo__name">Milan</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-budapest.jpg" alt="Budapest">
              </div>
              <div class="photo__name">Budapest</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-vienna.jpg" alt="Vienna">
              </div>
              <div class="photo__name">Vienna</div>
            </div>
            <div class="photo">
              <div class="photo__image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-mexico.jpg" alt="Mexico">
              </div>
              <div class="photo__name">Mexico</div>
            </div>
          </div>
        </div>
      </div>
</section>
