<section id="home">
 <nav class="mainNav">
    <div class="mainNav__logo">
        <img src="logo-removebg-preview.png" alt="logo"/>
    </div>
    <div class="mainNav__links">
       <a href="#home" class="mainNav__link">Home</a>
       <a href="#blog" class="mainNav__link">Blog</a>
       <a href="#PhotoGallery" class="mainNav__link">Photo Gallery</a>
       <a href="#contact" class="mainNav__link">Contact</a>
    </div>
    <div class="mainNav__icon">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g data-name="Layer 2" fill="#9197AE">
             <g data-name="menu-2">
                <rect
                   width="24"
                   height="24"
                   transform="rotate(180 12 12)"
                   opacity="0"
                />
                <circle cx="4" cy="12" r="1" />
                <rect x="7" y="11" width="14" height="2" rx=".94" ry=".94" />
                <rect x="3" y="16" width="18" height="2" rx=".94" ry=".94" />
                <rect x="3" y="6" width="18" height="2" rx=".94" ry=".94" />
             </g>
          </g>
       </svg>
    </div>
 </nav>
 <header class="mainHeading">
    <div class="mainHeading__content">
       <article class="mainHeading__text">
          <p class="mainHeading__preTitle">Roaming Routes</p>
          <h2 class="mainHeading__title">Explore, Experience, Enrich</h2>
          <p class="mainHeading__description">
            Join us as we wander off the beaten path, discover hidden gems, 
            and enrich our lives through diverse cultures and unforgettable adventures.
          </p>
          <button class="cta">Join Us</button>
       </article>
 
       <figure class="mainHeading__image">
<div class="rectangle">
<div class="center">
   <div class="carousel-wrapper">
     <input id="slide1" type="radio" name="controls" checked="checked" />
     <input id="slide2" type="radio" name="controls" />
     <input id="slide3" type="radio" name="controls" />
     <input id="slide4" type="radio" name="controls" />
     <input id="slide5" type="radio" name="controls" />

     <label for="slide1" class="nav-dot"></label>
     <label for="slide2" class="nav-dot"></label>
     <label for="slide3" class="nav-dot"></label>
     <label for="slide4" class="nav-dot"></label>
     <label for="slide5" class="nav-dot"></label>
     <label for="slide1" class="left-arrow"> < </label>
     <label for="slide2" class="left-arrow"> < </label>
     <label for="slide3" class="left-arrow"> < </label>
     <label for="slide4" class="left-arrow"> < </label>
     <label for="slide5" class="left-arrow"> < </label>
 
     <label for="slide1" class="right-arrow"> > </label>
     <label for="slide2" class="right-arrow"> > </label>
     <label for="slide3" class="right-arrow"> > </label>
     <label for="slide4" class="right-arrow"> > </label>
     <label for="slide5" class="right-arrow"> > </label>
 
     <div class="carousel">
      <h3 class="mainHeading__title" style="font-size: 30px !important; text-align: center;
      margin-bottom: 10px;">Discover</h3>
       <ul>
         <li>
           <img src="slide1-img.jpg"/>
         </li>
         <li>
           <img src="slide2-img.jpg"/>
         </li>
         <li>
           <img src="slide3-img.jpg"/>
         </li>
         <li>
           <img src="slide4-img.jpg"/>
         </li>
         <li>
           <img src="slide5-img.jpg"/>
         </li>
       </ul>
     </div>
   </div>
 </div>
</div>
</figure>
</div>
</header>
</section>

 
