<section id="blog">
    <h1>Recent blog post</h1>
    <section class="bg">
        <div class="blog-card">
            <img class="blog-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-cusco.jpeg" />
            <div class="text-overlay">
                <h2>Cusco</h2>
                <p> Historic Peruvian city, former Inca capital, gateway to Machu Picchu and Andean culture. &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
            </div>
        </div>
        <div class="blog-card">
            <img class="blog-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-rome.jpeg" />
            <div class="text-overlay">
                <h2>Rome</h2>
                <p> Italian capital, ancient landmarks, Vatican City, lively streets, cultural hub. &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
            </div>
        </div>
        <div class="blog-card">
            <img class="blog-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-paris.jpeg" />
            <div class="text-overlay">
                <h2>Paris</h2>
                <p> French capital, romantic allure, Eiffel Tower, Louvre Museum, fashion capital. &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
            </div>
        </div>
    </section>
    <section class="bg">
        <div class="blog-card">
            <img class="blog-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-bali2.jpeg" />
            <div class="text-overlay">
                <h2>Bali</h2>
                <p>Indonesian island, lush landscapes, spiritual ambiance, vibrant nightlife, tropical paradise. &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
            </div>
        </div>
        <div class="blog-card">
            <img class="blog-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-budapest.jpg" />
            <div class="text-overlay">
                <h2>Budapest</h2>
                <p>Hungarian capital, majestic architecture, thermal baths, cultural fusion. &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
            </div>
        </div>
        <div class="blog-card">
            <img class="blog-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-mexico.jpg" />
            <div class="text-overlay">
                <h2>Mexico</h2>
                <p>Vibrant North American country, rich culture, ancient civilizations, diverse cuisine. &nbsp;&nbsp;<a href="#" class="read-more">Read More</a></p>
            </div>
        </div>
    </section>
    
</section>