$primary-color: #192537;
$secondary-color:  #253a58;
html{
    scroll-behavior: smooth;
}
#contact {
    padding: 5rem 0;
    background: #192537;
  }
  
.contact-container {
  display: flex;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}
.input-css {
    text-indent: 30px; 
  }

.form-container input {
  display: block;
  width: 70%;
  justify-content: center;
  border: none;
  border-bottom: 7px solid #192537;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%
}

.form-container textarea {
    display: block;
    width: 70%;
    justify-content: center;
    border: none;
    border-bottom: 7px solid #192537;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%
}

.form-container h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 24px;
  font-size: 40px;
  text-align: center;
  animation: lights 5s 750ms linear infinite;

}

.form-container a {
  font-size: 1.3rem;
}

.cta-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .cta {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-family: Arial, sans-serif; /* Example font */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
  }
  
  .cta:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px -80px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(253, 86%, 26%, 0.5),
        0 0 0.125em hsla(260, 85%, 41%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(250, 57%, 38%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(242, 47%, 35%, 0.5),
        0 0 0.125em hsla(238, 50%, 30%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }